body {
    background-color: #f0f0f0;
}

header {
    background-color: #1b1b1b;
    /* border-bottom: 3px solid #000000; */
}

.card {
    transition: transform 0.2s, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเมื่อ hover */
}

.cart-icon {
    background-color: #56b725;
    color: white;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.cart-icon:hover {
    background-color: #2B5914;
}

.card-title {
    color: #1b1b1b;
}

.btn-primary {
    background-color:#4bd31e ;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #58ed0d;
}

.bg-dark-custom {
    background-color: #18181a !important;
}

.toggle-password {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease;
}

.toggle-password:hover {
    transform: translateY(-50%) scale(1.1); /* เพิ่มขนาดเล็กน้อยเมื่อ hover */
}

.position-relative {
    position: relative;
}

.table th, .table td {
    vertical-align: middle; /* จัดตำแหน่งแนวตั้งของข้อความในตาราง */
}

.order-details h2 {
    margin-top: 20px;
}

.list-group-item {
    background-color: #ffffff; /* สีพื้นหลังของรายการสินค้า */
    border: 1px solid #2B5914; /* ขอบรายการสินค้า */
}

.modal-body img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* เพิ่มมุมโค้งให้กับภาพ */
}

.contact-info h3, .map h3 {
    margin-top: 20px;
}

.contact-info p {
    margin: 10px 0; /* เพิ่มระยะห่างระหว่างพารากราฟ */
}

.map {
    margin-top: 30px; /* เพิ่มระยะห่างก่อนแสดงแผนที่ */
}

iframe {
    border-radius: 8px; /* เพิ่มมุมโค้งให้กับ iframe */
}
.btn {
    white-space: nowrap;
    width: auto; /* ปรับความกว้างของปุ่มให้พอดีกับข้อความ */
    text-align: center; /* จัดปุ่มไปทางขวา */
    margin-top: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

